/* Style untuk peta dan halaman */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

#map {
  height: 90vh;
  width: 100%;
}
